<h3><%= @task.name %></h3>

<h4><%= t('tasks.show.story_text') %></h4>

<%= @task.story.text %>

<h4><%= t('tasks.show.text') %></h4>

<%= @task.text %>

<h4><%= t('activerecord.models.result') %></h4>

<%= simple_form_for(@result, html: {class: 'form-horizontal'}) do |f| %>
  <%= render partial: 'shared/form/error_messages', locals: { resource: @result } %>
  
  <div class="form-inputs">
    <%= f.input :text, as: :text, input_html: {style: 'width: 500px; height:300px;'} %>  
  </div>
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
