<div class="comment">
  <div class="created_at">
    <%= resource.created_at.strftime("%d.%m.%Y %H:%M:%S") %> <%= resource.name %> 
    (<%= link_to resource.user.name, resource.user %>)
  </div>
  <div class="content">
    <%= markdown resource.text %>
  </div>
  <div class="actions">
    <%= link_to t('comments.show.reply'), eval(
      "new_#{resource.commentable_type.tableize.singularize}_comment_path(resource.commentable, comment: { parent_id: resource.id })" 
    ), class: 'new_comment' %> |
    <%= link_to t('general.edit'), edit_comment_path(resource), class: 'edit_comment' %> |
    <%= link_to t('general.destroy'), resource, confirm: t('general.questions.are_you_sure'), method: :delete, class: 'destroy_comment' %>
  </div>
</div>