<h3>
  <a id="top" name="top"></a>
  <%= @vacancy.name %>
</h3>

<dl class="dl-horizontal">
  <%= show_field t('activerecord.models.project'), link_to(@vacancy.project.name, @vacancy.project) %>
</dl>

<%= render partial: "shared/resource/actions", locals: { type: 'vacancies', resource: @vacancy } %>

<%= markdown @vacancy.text %>

<%= render 'shared/comments', comment: @vacancy.comments.new %>