<h3>
  <a id="top" name="top"></a>
  <%= @vacancy.name %>
</h3>

<dl class="dl-horizontal">
  <%= show_associations :project %>
  <%= show_attribute :limit, value: "#{@vacancy.candidatures_left} / #{@vacancy.limit}" %>
  <%= show_attribute :state %>
  <%= show_actions %>
</dl>

<%= markdown @vacancy.text %>

<%= render 'shared/comments', comment: @vacancy.comments.new %>