<%= simple_form_for(@candidature) do |f| %>
  <%= render partial: 'shared/form/error_messages', locals: { resource: @candidature } %>
  
  <div class="form-inputs">
    <%= @candidature.vacancy ? f.hidden_field(:vacancy_id) : f.association(:vacancy) %> 
    <%= f.input :name %>
    <%= f.input :text, input_html: {style: 'width: 500px; height:300px;'} %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
