<h3>
  <a name="top">&nbsp;</a>
<% if @candidature.name.present? %>
  <%= @candidature.name %>
<% else %>
  No Name
<% end %>
</h3>

<dl class="dl-horizontal">
  <%= show_associations :project, :vacancy, :user %>
  <%= show_attribute :state %>
  <%= show_actions %>
</dl>

<%= markdown @candidature.text %>

<%= render 'shared/comments', comment: @candidature.comments.new %>