<%= simple_form_for(
  resource, url: resource.new_record? ? registration_path(resource_name) : user_path(resource), 
  method: resource.new_record? ? :post : :put,
  html: { 
    class: 'form-horizontal block-form', autocomplete: 'off'
  }
 ) do |f| %>
  <%= devise_error_messages! %>
    
<div class="form-inputs">
  <% @presenter.attributes.each do |attribute| %>
    <%= case attribute
    when :name
      f.input attribute if resource.new_record?
    when :language
      f.input attribute, collection: all_language_options
    when :interface_language
      f.input attribute, collection: available_language_options
    when :foreign_language_tokens
      f.input attribute, as: :string, input_html: { data: { load: resource.foreign_language_tokens } } unless Rails.env == 'test'
    when :profession
      autocomplete_input(f, attribute)
    when :employment_relationship
      f.input attribute, collection: ['selbständig', 'angestellt', 'arbeitslos', 'Schüler', 'Student', 'Rentner']
    when :area_tokens
      # TODO: get token input working in test environment
      f.input attribute, input_html: { data: { load: resource.areas } } unless Rails.env == 'test'
    else
      f.input attribute
    end %>
  <% end %>

  <% 
  #TODO: language selection
  %>
  
  <%= recaptcha_tags if resource.new_record? && Rails.env == 'production' %>
</div>

<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>