<h3><%= I18n.t('tasks.index.title') %></h3>

<% columns = { 
  'name' => Proc.new{|resource| link_to(resource.name, edit_task_workflow_user_index_path(resource)) }, 
  'state' => nil 
} %>

<% if @tasks.none? || @tasks.select{|e| e.id.present? }.none? %>
<p><%= I18n.t("tasks.index.empty_collection")%></p>
<% else %>
<table class="table table-striped">
  <thead>
    <tr class="<%= cycle('odd', 'even') %>">
  <% columns.keys.map{|c| c.gsub('_id', '')}.each do |column| %>
      <th><%= t("activerecord.attributes.task.#{column}") %></th>
  <% end %>
    </tr>
  </thead>
  <tbody>
  <% @tasks.select{|e| e.id.present? }.each do |resource| %>
    <tr class="<%= cycle('odd', 'even') %>">
    <% columns.keys.each do |column| %>
      <td>
        <%= table_cell column, resource, columns[column] %>
      </td>
    <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>