<h3><%= I18n.t('tasks.index.title') %></h3>

<% columns = ['name', 'state'] %>

<% if @tasks.none? || @tasks.select{|e| e.id.present? }.none? %>
<p><%= I18n.t("tasks.index.empty_collection")%></p>
<% else %>
<table class="table table-striped">
  <thead>
    <tr class="<%= cycle('odd', 'even') %>">
  <% columns.map{|c| c.gsub('_id', '')}.each do |column| %>
      <th><%= t("activerecord.attributes.task.#{column}") %></th>
  <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @tasks.select{|e| e.id.present? }.each do |resource| %>
    <tr class="<%= cycle('odd', 'even') %>">
    <% columns.each do |column| %>
      <td>
        <%= table_cell column, resource, columns.is_a?(Hash) ? columns[column] : nil %>
      </td>
    <% end %>
      <td>
        <%= render 'actions', resource: resource %>  
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>