<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron">
        <%= @page ? markdown(@page.text) : 'Page not found' %>
      </div>
    </div>
    <div class="col-md-6">
      <div id="product-screencasts" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#product-screencasts" data-slide-to="0" class="active"></li>
          <li data-target="#product-screencasts" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active" style="background-color:#939393;">
            <table style="width:100%;">
              <tr>
                <td style="text-align:center;">
                  <%= raw markdown('https://www.youtube.com/watch?v=VfqQe-_OWmU').gsub('width="515"', 'width="450"') %>
                </td>
              </tr>
              <tr>
                <td style="height: 125px;">
                </td>
              </tr>
            </table>
            <div class="carousel-caption">
              <h3>Ranking</h3>
              <p><%= raw t('home.index.you_can_find_it', link: link_to('here', product_path('ranking'), style: 'color:black;')) %></p>
            </div>
          </div>
          <div class="item" style="background-color:#939393;">
            <table style="width:100%;">
              <tr>
                <td style="text-align:center;">
                  <%= raw markdown('https://www.youtube.com/watch?v=cOqX_JDhGWI').gsub('width="515"', 'width="450"') %>
                </td>
              </tr>
              <tr>
                <td style="height: 125px;">
                </td>
              </tr>
            </table>
            <div class="carousel-caption">
              <h3>Brainstorming</h3>
              <p><%= raw t('home.index.you_can_find_it', link: link_to('here', product_path('brainstorming'), style: 'color:black;')) %></p>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#product-screencasts" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#product-screencasts" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3><%= I18n.t('home.index.last_projects') %></h3>
      <%= render partial: 'shared/collection/table', locals: { 
        type: 'projects', collection: @projects, columns: ['name', 'user_id', 'url'],
        options: {show_title: false } 
      } %>
    </div>
    <div class="col-md-6">
      <h3><%= I18n.t('home.index.last_vacancies') %></h3>
      <%= render partial: 'shared/collection/table', locals: { 
        type: 'vacancies', collection: Vacancy.where(type: nil).open.limit(5).order('created_at DESC').all, columns: ['name', 'project_id'],
        options: {show_title: false, append_new_link: false } 
      } %>
    </div>
  </div>
</div>
