        <div class="tabs">
          <ul>
<% Vacancy::STATES.each do |state| %>          
            <li>
              <a href="#<%= state %>_vacancies">
                <%= I18n.t("vacancies.show.states.#{state}") %> 
  <% if @vacancies[state].length == 5 %>
                (<%= @vacancies[state].length %>+) 
  <% elsif @vacancies[state].length > 0 %>
                (<%= @vacancies[state].length %>) 
  <% end %>                
              </a>
            </li>
<% end %>
          </ul>
<% Vacancy::STATES.each do |state| %>        
          <div id="<%= state %>_vacancies">
            <%= render partial: 'shared/collection/table', locals: { 
              type: 'vacancies', collection: @vacancies[state], columns: ['name', 'project_id'],
              options: {show_title: false, append_new_link: false }
            } %>
  <% if @vacancies[state].length == 5 %>           
            <p><%= link_to t('general.more'), eval("#{state}_workflow_vacancies_path") if @vacancies[state].length > 0 %></p>
  <% end %>
          </div> 
<% end %>
        </div>