<h3>
  <a name="top">&nbsp;</a>
  <%= @project.name %>
</h3>

<dl class="dl-horizontal">
  <%= show_associations :product, :user, :areas %>
  <%= show_actions %>
</dl>

<%= markdown @project.text %>

<%= render 'shared/comments', comment: @project.comments.new %>