<%= simple_form_for(@story, html: {class: 'form-vertical'}) do |f| %>
  <%= render partial: 'shared/form/error_messages', locals: { resource: @story } %>
  
  <div class="form-inputs">
    <%= @story.project ? f.hidden_field(:project_id) : f.input(:project_id, collection: Project.all) %> 
    <%= f.input :name %>  
    <%= f.input :language, collection: all_language_options %>  
    <%= f.input :min_length %>  
    <%= f.input :max_length %>  
    <%#= render 'products/mixins/keywords', f: f %>
    <%#= f.check_box :with_quality_assurance %>
    <%#= f.label :with_quality_assurance, t('activerecord.attributes.story.with_quality_assurance') %>
    <%= f.input :text, as: :text, input_html: {style: 'width:500px; height:100px;'} %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>