<!DOCTYPE html>
<html>
<head>
  <title><%= (yield(:title).blank? ? '' : yield(:title) + ' - ') + t('layout.title') %></title>
  <meta charset='utf-8'>
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag *voluntary_application_stylesheets, media: 'all' %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet"/>
</head>
<body>
  <div id="bootstrap_modal" class="modal hide fade"></div>
  
  <%= render 'layouts/shared/navigation' %>
  
  <% if voluntary_application_repository_path.present? %>
  <a href="https://github.com/<%= voluntary_application_repository_path %>"><img style="position: absolute; top: 41px; right: 0; border: 0; z-index: 100;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
  <% end %>
  
  <section id="dialog">
    <img alt="Ajax-loader-small" class="hide " id="dialog_body_spinner" src="<%=image_path('voluntary/spinner.gif')%>"/>
    <div id="dialog_body"/>
  </section>
  
  <div class="container-fluid">
<% unless flash.empty? %>
    <div class="row-fluid">
      <div class="span12">
        <%= render 'layouts/shared/flash_messages' %>
      </div>
    </div>
<% end %>    
    <div class="row-fluid">
<% if sidenav(@sidenav_links_count).present? || content_for?(:search) || content_for?(:sidebar) %>
      <div class="span9">
        <% if content_for?(:breadcrumbs) %>
          <div class="nav">
            <%= yield :breadcrumbs %>
          </div>
        <% else %>
          <%= breadcrumbs %>
        <% end %>
        
        <%= yield %>
      </div>      
      <div class="span3">
        <%= yield :search %>
        
        <%= sidenav(@sidenav_links_count) %>
        
        <%= yield :sidebar %>
      </div>
<% else %>
      <div class="span12">
        <% if content_for?(:breadcrumbs) %>
          <div class="nav">
            <%= yield :breadcrumbs %>
          </div>
        <% else %>
          <%= breadcrumbs %>
        <% end %>
        
        <%= yield %>
      </div>      
<% end %>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid footer">
      <div class="span12">
        <%= footer_navigation %>
      </div>
    </div>
  </div>
  <%= javascript_include_tag *voluntary_application_javascripts %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
  <%= javascript_tag do %>
    <%= yield :top_javascript %>
    
    $(function() {
      <%= yield(:document_ready) %>
    });
  <% end %>
</body>
</html>